.lista-tarefas-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.titulo-tarefas {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.lista-tarefas {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.item-tarefa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding-left: 1rem;
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    border-radius: 4px;
}

.texto-tarefa {
    width: 90%;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-excluir-tarefa {
    width: 40px;
    height: 100%;
    background-color: var(--cor-deletar);
    border-color: transparent;
    border-radius: 0 4px 4px 0;
    color: var(--cor-texto);
    cursor: pointer;
}

.btn-excluir-tarefa svg {
    pointer-events: none;
}

.btn-add-tarefa {
    width: 100%;
    height: 40px;
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    cursor: pointer;
}

#tarefa {
    width: 100%;
    height: 40px;
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 1rem;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    outline: none;
}

.botoes-criar-tarefa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0;
}

.btn-tarefa {
    width: 46%;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
}