.editor-tempos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: absolute;
  width: 100%;
  max-width: 350px;
  height: 120px;
  padding: 1rem;
  background-color: var(--cor-texto);
  color: var(--cor-fundo);
  top: 40px;
  right: 0;
  border-radius: 8px;
}

.editor-tempos-container::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid var(--cor-texto);
  position: absolute;
  top: -12px;
  right: 5px;
}

.container-foco,
.container-descanso {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.titulo-tempo {
  width: 100px;
}

.tempo-foco,
.tempo-descanso {
  width: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
}

.btn-controle {
  width: 80px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 16px;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}