.contador-container {
    width: 100%;
    max-width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--cor-fundo-claro);
    border-radius: 8px;
}

.modos-container {
    width: 100%;
    display: flex;
    gap: 4%;
}

.btn-modo {
    width: 48%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: var(--fonte-primaria);
    cursor: pointer;
}

.modo-ativo {
    background-color: var(--cor-fundo);
}

.tempo {
    font-size: 5rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.btn-controle-tempo {
    width: 130px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: var(--fonte-primaria);
    cursor: pointer;
}

.botoes-controle {
    width: 100%;
    max-width: 280px;
    display: flex;
    justify-content: space-between;
}